<div class="navbar" id="navbar">
  <div class="navbar-left">
    <button type="button" class="hamburger-btn" data-action="click->sidebar#toggle" aria-label="Abrir menu">
      <%= image_tag "icons/menu-icon.svg", alt: "Menu" %>
    </button>
    <a href="/" class="logo">
      <%= image_tag "logos/logo-topbar.svg", alt: "GradyApp Logo" %>
    </a>
  </div>
  
  <% unless request.path == "/login" %>
  <div class="navbar-right">
    <div class="auth-buttons" id="auth-buttons">
      <% if user_signed_in? %>
        <%= link_to "https://app.grady.com.br/profile", class: "btn-icon" do %>
          <%= image_tag 'icons/user-icon.svg', alt: 'Minha Conta' %>
        <% end %>
        <%= button_to destroy_user_session_path, method: :delete, class: "btn-icon", data: { turbo: false } do %>
          <%= image_tag 'icons/log-out-icon.svg', alt: 'Sair' %>
        <% end %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path %>
      <% end %>
    </div>
  </div>
  <% end %>
</div> 