<div class="navbar" id="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">
      <%= image_tag "logos/logo-barra-superior.svg", alt: "GradyApp Logo" %>
    </a>
  </div>
  
  <% unless request.path == "/login" %>
  <div class="navbar-right">
    <div class="auth-buttons" id="auth-buttons">
      <% if user_signed_in? %>
        <%= link_to "https://app.grady.com.br/profile", class: "btn-icon" do %>
          <%= image_tag 'icons/user-icon.svg', alt: 'Minha Conta' %>
        <% end %>
        <%= button_to "Sair", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path %>
      <% end %>
    </div>
    
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <% end %>
</div>

<div class="overlay" id="overlay" onclick="toggleMenu()"></div> 