<!DOCTYPE html>
<html>
  <head>
    <title>GradyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icons/grady-favicon.ico' %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= 'app-body' if user_signed_in? %>">
    <%= render 'layouts/topbar' %>
    
    <% if user_signed_in? %>
      <div class="main-body">
        <%= render 'layouts/sidebar' %>
        
        <main class="main-content">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <div class="content">
        <%= yield %>
      </div>
    <% end %>
    
    <script>
      // Adicionar sombra na navbar ao rolar
      (function() {
        const navbar = document.getElementById('navbar');
        // If logged in, scroll is on .main-content, otherwise it's on window/body
        const scrollContainer = document.querySelector('.main-content') || window;

        scrollContainer.addEventListener('scroll', function() {
          // For window, scrollTop is on documentElement, for div it's on the element itself
          const scrollTop = this.scrollTop || document.documentElement.scrollTop;
          
          if (scrollTop > 10) {
            navbar.classList.add('navbar-shadow');
          } else {
            navbar.classList.remove('navbar-shadow');
          }
        });
      })();
    </script>
  </body>
</html>
