<!DOCTYPE html>
<html>
  <head>
    <title>GradyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icons/grady-favicon.ico' %>

    <!-- Self-hosted Inter Font -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans antialiased <%= "app-body" if user_signed_in? %>" data-controller="sidebar">
    <%= render 'layouts/topbar' %>
    
    <% if user_signed_in? %>
      <div class="main-body">
        <%= render partial: 'layouts/sidebar', locals: { sidebar_target: 'panel' } %>
        
        <div class="sidebar-overlay" data-sidebar-target="overlay" data-action="click->sidebar#toggle"></div>
        
        <main class="main-content">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <div class="content">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
